@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/Work_Sans/worksans-variablefont_wght-webfont.woff2') format('woff2'),
    url('./assets/fonts/Work_Sans/worksans-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Work Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-family: 'Work Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: 'Work Sans'; */
  font-weight: 700;
}

.default-button {
  background-color: #985699;
}