@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/Work_Sans/worksans-variablefont_wght-webfont.woff2') format('woff2'),
    url('./assets/fonts/Work_Sans/worksans-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Work Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-family: 'Work Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.default-button {
  background-color: #985699;
}

.default-button:hover {
  background-color: #6C3C6B;
}

.default-button:active {
  background-color: #381A37;
}

.share-button {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: solid #00988D 1px;
  color: #00988D;
  background-color: transparent;
}

.share-button:hover {
  background-color: #D9EEE8;
}

.share-button:active {
  background-color: #86C2B7;
}

/* .mock {
  background-image: url('assets/images/mock-bg.png');
  background-size: 1440px;
}

section,
header {
  opacity: 0.5;
} */

.stage {
  max-width: 1440px;
}